@using System.Web.Optimization
@{
    Layout = "~/Views/Shared/LayoutGenres.cshtml";
}

<nav>
    <div class="container d-flex flex-wrap justify-content-evenly">
        <ul class="nav">
            <li class="nav-item fonto1">
                @Html.ActionLink("Action", "Action", "Genres", null, new { @class = "nav-link link-danger px-2 text-light" })
            </li>
            <li class="nav-item fonto1">
                @Html.ActionLink("Crime", "Crime", "Genres", null, new { @class = "nav-link link-danger px-2 text-light" })
            </li>
            <li class="nav-item fonto1">
                @Html.ActionLink("Family", "Family", "Genres", null, new { @class = "nav-link link-danger px-2 text-light" })
            </li>
            <li class="nav-item fonto1">
                @Html.ActionLink("Thriller", "Thriller", "Genres", null, new { @class = "nav-link link-danger px-2 text-light" })
            </li>
            <li class="nav-item fonto1">
                @Html.ActionLink("Adventure", "Adventure", "Genres", null, new { @class = "nav-link link-danger px-2 text-light" })
            </li>
            <li class="nav-item fonto1">
                @Html.ActionLink("Documentary", "Documentary", "Genres", null, new { @class = "nav-link link-danger px-2 text-light" })
            </li>
            <li class="nav-item fonto1">
                @Html.ActionLink("Action", "Action", "Genres", null, new { @class = "nav-link link-danger px-2 text-light" })
            </li>
            <li class="nav-item fonto1">
                @Html.ActionLink("Horror", "Horror", "Genres", null, new { @class = "nav-link link-danger px-2 text-light" })
            </li>
            <li class="nav-item fonto1">
                @Html.ActionLink("Animation", "Animation", "Genres", null, new { @class = "nav-link link-danger px-2 text-light" })
            </li>
            <li class="nav-item fonto1">
                @Html.ActionLink("Comedy", "Comedy", "Genres", null, new { @class = "nav-link link-danger px-2 text-light" })
            </li>
        </ul>
    </div>
</nav>
