@model Domain.LoginModel
@using Domain
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/LayoutLog.cshtml";
    string[] pathObject = Directory.GetFiles(AppDomain.CurrentDomain.BaseDirectory + "\\Content\\Animation Data");
}
<canvas id="animations"></canvas>
@using (Html.BeginForm("Login", "Login", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <p style="display:none" id="amountPics">@pathObject.Length</p>
    for (var i = 0; i < @pathObject.Length; i++)
    {
        <p style="display:none" id="picture @i">@pathObject[i]</p>
    }

    <div class="Login_block">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="d-flex flex-column justify-content-start align-items-center">
            <div class="form-group">
                <a href="~/Home/Index">
                    <img class="" alt="Logo" src="~/Content/images/logo.png" />
                </a>
            </div>

            <div class="form-group">
                <label for="exampleInputLogin1" class="text-white">Login</label>
                @Html.EditorFor(model => model.UserLogin, new { htmlAttributes = new { @class = "form-control", @id = "exampleInputLogin1" } })
                @Html.ValidationMessageFor(model => model.UserLogin, null, new { @class = "text-warning" })
            </div>

            <div class="form-group">
                <label for="exampleInputPassword1" class="text-white">Password</label><br />
                @Html.PasswordFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @id = "exampleInputPassword1" } })
                @Html.ValidationMessageFor(model => model.Password, null, new { @class = "text-warning" })
            </div>

            <input type="submit" class="btn btn-outline-primary text-white" value="Submit" />
            <div class="form-group">
                <p style="color:white">Not registered yet?  @Html.ActionLink("Sign in", "Registration", "Login", null, new { @class = "Regist" })</p>
            </div>
        </div>

    </div>
}

