@model Domain.ForumContext

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutControl.cshtml";
}

<table class="table">
    <tr>
        <th>
            @Html.Label("ID:")
        </th>
        <td>
            @Html.DisplayFor(model => model.uData.Id)
        </td>
    </tr>
    <tr>
        <th>
            @Html.Label("Email:")
        </th>
        <td>
            @Html.DisplayFor(model => model.uData.Email)
        </td>
    </tr>
    <tr>
        <th>
            @Html.Label("Login:")
        </th>
        <td>
            @Html.DisplayFor(model => model.uData.Login)
        </td>
    </tr>
    <tr>
        <th>
            @Html.Label("Password:")
        </th>
        <td>
            @Html.DisplayFor(model => model.uData.Password)
        </td>
    </tr>
    <tr>
        <th>
            @Html.Label("Roles:")
        </th>
        <td>
            @foreach (var role in Model.uRole)
            {
                @Html.DisplayFor(model => role.Role_Name)
                <p> </p>
            }
            @*@Html.DropDownListFor(m=>m.uRole,new SelectList(),"select option")*@
        </td>
    </tr>
</table>
