@model Domain.MoviesModel
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="containerofsearch">
        <div class="containerofsearch-layout">

            <div class="containerofsearch-headernamecontainer">
                <div class="containerofsearch-headernametext">
                    <a href="~/Home/Index">
                        Movie-Forum
                    </a>
                    &nbsp/&nbspSearch
                   
                </div>
            </div>

            <div class="containerofsearch-titlecontainer">
                <div class="containerofsearch-titletext">This is what we find:</div>
            </div>

            <div class="search-cardscontainer">
                @if (Model != null && Model.movies != null)
                {
                    foreach (var movie in Model.movies)
                    {
                        <div class="searchfilm-card">
                            <div class="searchactfilm-card-column1">
	                            <div class="searchfilm-cardphoto">
		                            <img src=@movie.picture
		                                 class="img-fluid">
	                            </div>
	                            <div class="searchfilm-namefilm-container">
		                            <div class="searchfilm-namefilm">@movie.name</div>
	                            </div>
                            </div>

                            <div class="searchfilm-card-column2">
                                <div class="searchfilm-card-column2-1">
                                    <div class="searchfilm-genre">Genre:</div>
                                    <div class="searchfilm-date">Date:</div>
                                    <div class="searchfilm-rating">Rating:</div>
                                </div>

                                <div class="searchfilm-card-column2-2">
                                    <div class="searchfilm-genreAPI">
                                        @if (movie.genres != null)
                                        {
                                            foreach (var genre in movie.genres)
                                            {
                                                <span>"@genre" </span>
                                            }
                                        }
                                    </div>
                                    <div class="searchfilm-dateAPI">@movie.releaseDate</div>
                                    <div class="searchfilm-ratingAPI">@movie.popularity</div>
                                </div>
                            </div>

                            <div class="searchfilm-card-column3">
                                <div class="searchfilm-card-column3-1">
                                    <div class="searchfilm-description">Description:</div>
                                </div>

                                <div class="searchfilm-card-column3-2">
                                    <div class="searchfilm-descriptionAPI">"@movie.overview"</div>
                                </div>

                                <div class="searchfilm-card-column3-3">
                                    <div class="searchfilm-yourfavoritebtn">

                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            using (Html.BeginForm("MovieAdd", "Search", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                            {
                                                <input type="hidden" name="MovieDATA" value="@Model" />
                                                <input type="hidden" name="MovieName" value="@movie.name" />
                                                <input type="hidden" name="MoviePic" value="@movie.picture" />
                                                <input type="hidden" name="MovieGenres" value="@movie.genres" />
                                                <button type="submit" class="buttonfavorites">
                                                    <span class="button_text">Your favorites</span>
                                                    <span class="button_icon">
                                                        <ion-icon name="thumbs-up-sharp"></ion-icon>
                                                    </span>
                                                </button>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>

                        </div>
                    }
                }
                }
            </div>
        </div>
    </div>

</section>