@model Domain.CommentsData
@{
    ViewBag.Title = "forum_comments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="container2">
        <div class="forum-layout">
            <div class="movieforum-namecontainer">
                <div class="movieforum-name">
                    Name of topic
                    &nbsp/&nbsp
                    Comments
                </div>
            </div>


            @*<div class="comments-layout-head">
                    <div class="comments-layout-head-authors">Author</div>
                    <div class="comments-layout-head-topic">"Topic: post's title"</div>
                </div>*@

            @foreach (var entry in Model.ReplyList)
            {
                <div class="comments-layout">
                    <div class="comments-layout-body">
                        <div class="comments-layout-authorscontainer">
                            <div class="comments-layout-commentcell">
                                <div class="comments-layout-commentcellcontainer">
                                    <div class="comments-layout-username">@entry.RAuthorName</div>
                                    <img src=@entry.RAuthorPfp alt="" style="width:80px;height:80px">
                                    <div class="posts">Posts <u>@entry.RAuthorTopics</u></div>
                                </div>
                            </div>

                            <div class="comments-layout-coments">
                                <div class="comments-layout-coments-text">@entry.ReplyText</div>
                                <hr>
                                <div class="comments-layout-coments-regard">Best Regards @entry.RAuthorName</div>
                            </div>
                        </div>
                    </div>
                </div>
            }

            @if (@User.Identity.IsAuthenticated)
            {
                using (Html.BeginForm("Comments", "Forum", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <!-- Area of input -->
                    <div class="comment-area">
                        <textarea class="comment-area-input" name="textReply" id="comment" placeholder="Write your comment here:"required></textarea>
                        <button class="btncomment btn-add ">Comment<img src="images/plus.png" width="30" /></button>
                    </div>
                    @Html.HiddenFor(model => model.TopicId)
                }
            }
        </div>

    </div>

</section>
