@using Domain;
<header class="header">
    <div class="header-container">
        <div class="header-row">
            <div class="header-navigationcontainer">
                <div class="header-1column-logocontainer">
                    <img src="~/Content/images/logo.png" class="img-fluid">
                </div>

                <div class="header-2column">
                    <div class="header-2column-1rowhome">
                        <div class="header-2column-1rowhome-imgcontainer">
                            <a href="#">
                                <img src="~/Content/images/image_8.png" alt="" class="img-fluid">
                            </a>
                        </div>
                        <div class="header-2column-1rowhome-textcontainer header-2column-1rowhome-textcontainerneon">
                            <a href="#">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                Go home
                            </a>
                        </div>
                    </div>

                    <div class="header-2column-2rowbuttonscontainers">
                        <div class="header-2column-buttonfilmscontainer">
                            <a href="#">
                                <button type="button"
                                        class="btn btn-primary btn-lg btn-block customButton">
                                    Films
                                </button>
                            </a>
                        </div>

                        <div class="header-2column-buttongenrescontainer">
                            <button class="btn btn-primary btn-lg dropdown-toggle customButton" type="button"
                                    id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                Genres
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Crime</a></li>
                                <li><a class="dropdown-item" href="#">Family</a></li>
                                <li><a class="dropdown-item" href="#">Thriller</a></li>
                                <li><a class="dropdown-item" href="#">Adventure</a></li>
                                <li><a class="dropdown-item" href="#">Documentary</a></li>
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Horror</a></li>
                                <li><a class="dropdown-item" href="#">Animation</a></li>
                                <li><a class="dropdown-item" href="#">Comedy</a></li>
                            </ul>
                        </div>

                        <div class="header-2column-buttonforumcontaixner">
                            @Html.ActionLink("Forum", "Topics", "Forum", null, new { @class = "btn btn-primary btn-lg btn-block customButton" })
                        </div>
                    </div>
                </div>

                <div class="header-3column">
                    <div class="header-3column-findcontainer">
                        <div class="header-3column-findtext">
                            Найдите, что вас интересует:
                        </div>
                        <div class="header-3column-findform">
                            <form>
                                <input type="text" name="" placeholder="Поиск.." id="formData">
                            </form>
                            <button style="width:50px;height:20px" name="" value="Поиск" onclick="processButton()" />
                        </div>
                    </div>
                </div>
            </div>


            <div class="header-4column">
                <div class="header-4column-profilecontainer">
                    <div class="header-4column-profile-buttonscontainer">
                        @if (User.Identity.IsAuthenticated && User.Identity is CustomIdentity customIdentity)
                        {
                            <div class="header-4column-profile-buttons">
                                @Html.ActionLink("Logout", "Logout", "Login")
                            </div>
                            <div class="header-4column-profile-iconcontainer">
                                <a href="#">
                                    <img src="@customIdentity.ProfilePic" alt="" class="img-fluid">
                                </a>
                            </div>
                        }
                        else
                        {
                            <div class="header-4column-profile-buttons">
                                @Html.ActionLink("Login", "Login", "Login")
                                @Html.ActionLink("Sign up", "Registration", "Login")
                            </div>
                        }
                    </div>

                    <div class="header-4column-profile-iconcontainer">
                        <a href="#">
                            <img src="~/Content/images/logo2.png" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>


    @*<p style="color:antiquewhite;font-size:40px">@User.Identity.Name</p>*@

</header>

