@using System.Web.Optimization
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Кинофорум</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Styles.Render("~/bundles/bootstrap/css")
    @Styles.Render("~/bundles/jquery/css")
    @Styles.Render("~/bundles/genresStyles/css")
    @Styles.Render("~/bundles/mainStyle/css")
    @Styles.Render("~/bundles/stylinn/css")
    @Styles.Render("~/bundles/swiper/css")

    @Styles.Render("~/bundles/footer/css")
    @Styles.Render("~/bundles/forum_comments/css")
    @Styles.Render("~/bundles/forum_topics/css")
    @Styles.Render("~/bundles/forum_input_topicsform/css")
    @Styles.Render("~/bundles/headerAut/css")
    @Styles.Render("~/bundles/headerNAut/css")
</head>
<body>
    @Html.Partial("_Header")
    @RenderBody()
    @Html.Partial("_Footer")
    @*<a href="#top" class="anchor rounded-circle fixed-bottom">⇯</a>*@

    @Scripts.Render("~/bundles/jquery/js")
    @Scripts.Render("~/bundles/bootstrap/js")
    @Scripts.Render("~/bundles/jquery-ui/js")
    @Scripts.Render("~/bundles/swiper-bundle/js")
        
    @Scripts.Render("~/bundles/addTopG/js")
    @Scripts.Render("~/bundles/getTrending/js")
    @Scripts.Render("~/bundles/addTrending/js")
    @Scripts.Render("~/bundles/getUpcoming/js")
    @Scripts.Render("~/bundles/addUpcoming/js")
    @Scripts.Render("~/bundles/swiper/js")
    @Scripts.Render("~/bundles/getGenresTop/js")
    @Scripts.Render("~/bundles/processForm/js")
</body>
</html>