@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/login/css")
    @Styles.Render("~/bundles/bootstrap/css")
</head>
<body>
    
    @RenderBody()

    @Scripts.Render("~/bundles/PostersAnimation/js")
    @Scripts.Render("~/bundles/jquery/js")
    @Scripts.Render("~/bundles/bootstrap/js")
    @Scripts.Render("~/bundles/jquery-ui/js")
    @*<script src="~/Scripts/jquery-3.6.4.js"></script>
        <script src="~/Scripts/jquery.validate.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>*@
</body>
</html>
